ConsoleApplication1
ScmAndEnv
VSS
WebSite1
VSMacros80
Database1
BranchAndMerge/TestResults
BranchAndMerge/BranchAndMergeUnitTest/obj
BranchAndMerge/BranchAndMerge/obj
BranchAndMerge/BranchAndMerge/bin
