<?xml version="1.0" encoding="UTF-8" ?>
<ProjectCollections url="http://192.168.83.70:8080/tfs/Flight">


	<project name="Booking"/>	
	<project name="BookingIntl"/>
	<project name="IntlProduct"/>
	<project name="Order"/>
	<project name="Product"/>
	<project name="Switch"/>
	<project name="Ticket"/>
	
	
</ProjectCollections>