<?xml version="1.0" encoding="UTF-8" ?>
<ProjectCollections url="http://192.168.83.70:8080/tfs/Hotel">


	<project name="Arch"/>	
	<project name="Booking"/>
	<project name="Group"/>	
	<project name="Order"/>	
	<project name="Package"/>
	<project name="Product"/>
	<project name="Service"/>	
	<project name="Supplier"/>
	<project name="Vendor"/>	
	
</ProjectCollections>