<?xml version="1.0" encoding="UTF-8" ?>
<ProjectCollections url="http://192.168.83.70:8080/tfs/Platform">


	<project name="Balance"/>	
	<project name="CRM"/>
  <project name="CTI"/>
  <project name="Delivery"/>
  <project name="Finance"/>
  <project name="Insurance"/>
	<project name="Marketing"/>
  <project name="Payment"/>
  <project name="Settlement"/>


</ProjectCollections>